@font-face {
    font-family: Mont Bold;
    src: url(../fonts/Mont-HeavyDEMO.otf);
}

/*--------------------------------------------------------*/
/* General ===============================================*/
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body,
header {
    font-family: 'Paytone One', sans-serif;
    color: #424242;
}

h1 {
    letter-spacing: -0.1rem;
    color: #1F2933;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    line-height: 1.6rem;
}

.main {
    transition: 0.5s ease;
}

.btn {
    background: #e87063;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0;
    transition: 0.4s;
    max-width: 200px;
    margin: 1rem auto 0;
}

.btn:hover,
.btn:focus {
    color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/* Side Nav/ Menu ======================================= */
.sidenav {
    height: 100%;
    width: 300px;
    transform: translateX(-300px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #36D1DC, #5B86E5);
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
}

.sidenav li {
    list-style: none;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    transform: scale(1.1);
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-bar {
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 10px 0;

}

.menu-bar,
.logo {
    transition: 0.5s ease;
}

.menu-bar.shrink {
    padding: 5px 0;
}

.logo.shrink {
    width: 60px;
}

.menu-content {
    position: relative;
}

.menu-container {
    top: 0;
    bottom: 0;
    left: 20px;
    height: 45px;
    position: absolute;
}

.social-links {
    margin-top: auto;
    padding-bottom: 30px;
}

.social-links a {
    padding-left: 5px;
    cursor: pointer;
}

.social {
    color: #fff;
    font-size: 1.75rem;

}


/* Header =============================================== */
header {
    background: url(../images/home-banner1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-content {
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    color: #fff;
    font-size: 4rem;
}

h4::before {
    margin-right: 10px;
}

h4::after {
    margin-left: 10px;
}


/* About Section ======================================== */
#about {
    padding: 4rem 0;
    background: #f5f5f5;
}

#about h1::after,
#services h1::after {
    content: '';
    display: block;
    margin: 1rem auto 2rem;
    height: 2px;
    width: 30px;
    background: #FA5A77;
}

.outer-bg,
.inner-bg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.outer-bg {
    margin: 2rem auto auto;
    height: 280px;
    width: 200px;
    background: #FFBB65;
    transform: rotate(5deg);
}

.inner-bg {
    float: right;
    height: 280px;
    width: 200px;
    background: #36D1DC;
    transform: rotate(5deg);
}

.inner-bg img {
    transform: rotate(-10deg);
}


/* Testimonials Section ================================= */
#testimonials {
    position: relative;
}

#testimonials figure {
    position: relative;
    margin-bottom: 0;
    background: #fff;
}

#testimonials figure img {
    width: 100%;
}

.block-quote--wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.block-quote--wrapper span {
    opacity: 0.2;
    font-size: 10vw;
    display: block;
}

.block-quote--wrapper cite {
    opacity: 0.3;
    display: block;
    width: 100%;
    font-size: 2.5vw;
}

.block-quote--wrapper span:first-of-type {
    margin-bottom: -4vw;
}

.block-quote--wrapper span:last-of-type {
    margin-left: auto;
    margin-top: -10vw;
}

.block-quote--wrapper span:last-of-type {
    float: right;
}

.block-quote--gradient h3 {
    font-size: 3vw;
    background: -webkit-gradient(linear, left top, right top, from(#FFBB65), to(#FA5A77));
    background: linear-gradient(to right, #FFBB65, #FA5A77);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.25;
}


/* Services Section ===================================== */
#services {
    padding: 4rem 0;
    background: #f5f5f5;
    position: relative;
}

#services .service-img {
    overflow: hidden;
    position: relative;
}

#services .service-img img {
    cursor: pointer;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#services .service-img img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}








/* Footer =============================================== */
footer {
    position: relative;
    color: #fff;
    min-height: 200px;
    background: #323F4B;
    color: #f5f5f5;
}

footer .row {
    padding: 30px 0;
}

footer li {
    padding-top: 5px;
    list-style: none;
}

footer a {
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    color: #f5f5f5;
    transition: 0.3s;
    text-decoration: none !important;
}

footer a:hover {
    color: #f5f5f5;
    opacity: 0.6;
}

.copyright {
    font-size: 0.8rem;
}


/* Media Queries ======================================== */

/* Mobile */
@media (max-width: 767px) {
    header {
        background-attachment: initial;
    }

    .btn {
        display: block;
        margin-top: 2rem;
    }

    header h1 {
        font-size: 3rem;
    }

    .block-quote--wrapper h3 {
        font-size: 4.5vw;
    }

    footer div.col-md-4 div {
        display: flex;
        flex-flow: row wrap;
        padding: 2rem 0;
        justify-content: center;
    }

    footer div.col-md-4 div li {
        padding-top: 10px;
        padding-right: 20px;
    }
}

/* Large Desktop */
@media (min-width: 1200px) {
    .block-quote--wrapper span {
        font-size: 6rem;
    }

    .block-quote--wrapper cite {
        font-size: 1.5rem;
    }

    .block-quote--wrapper span:first-of-type {
        margin-bottom: -4rem;
    }

    .block-quote--wrapper span:last-of-type {
        margin-top: -4rem;
    }

    .block-quote--gradient h3 {
        font-size: 2.5rem;
    }

}